node_modules
.git
.env*
*.md
.vscode
server
docs
dist
dist-ssr
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
